PROJECT_DIR=$(pwd)
GRADLE_HOME=${PROJECT_DIR}/android
export GRADLE_HOME

#echo "Adding PATH: ${PROJECT_DIR}/node_modules/.bin"
#PATH="${GRADLE_HOME}:${PATH}:${PROJECT_DIR}/node_modules/.bin"
#export PATH

# https://direnv.net/man/direnv-stdlib.1.html
layout node

PATH_add "${GRADLE_HOME}"
